
div {
  margin-top: 22pt;
}
                                                                                                                                            
td {
  padding: 22pt;
  margin: 6pt;
}
                                                                                                                                            
table {
  margin: 33pt auto;
  color: #777;
  background: #bbb;
}
   

caption {
  padding: 22pt 33pt;
}
