{% load static %}
<html>
<head>
  <title>Bookmarks</title>
  <link rel="stylesheet" href="{% static 'css/layout.css' %}">
</head>
<body>
<h1>Bookmarks</h1>

<code>
Request <br>:
{{ request }}
</code>

{% for bookmark in bookmarks %} 
<div> 
  <h3>Created on {{ bookmark.created_date }}</h3>
  <p>{{ bookmark.text|linebreaksbr }}</p>
</div> 
{% endfor %}

<form method='POST'> 

{% csrf_token %} {{ form }}

New Bookmark <br> <input type="text" name="bookmark"> <br><br> <input type="submit" value="Submit"> </form>
         
<body>
</html>
