{% load static %}
<html>
<head>
  <title>Tracker</title>
  <link rel="stylesheet" href="{% static 'css/layout.css' %}">
</head>
<body>
<h1>Tracker</h1>
<h3>Gather Process Analyse</h3>
{{ posts }}
{% for post in posts %} 
<div> 
  <p>published: {{ post.published_date }}</p>
  <h1><a href="">{{ post.title }}</a></h1>
  <p>{{ post.text|linebreaksbr }}</p>
</div> 
{% endfor %}
{% static 'acb' %}
<i>looks like static derectory isn't properly specified</i>
<b>{% static 'css/layout.css' %}</b> 

</body>
</html>
