/* ########## BODY ########### */

body {
  font-family: "Montserrat", "Helvetica", "Lucida Sans", "Lucida Sans Unicode", "Luxi Sans", Tahoma, sans-serif;
  margin: 100px, auto;
  color: #777777;
  font-size: 13pt;
  /* padding: 15%; */
}

/* ########## FOR MD ########### */

p {
  margin: auto;
  padding: 1cm 5cm 0cm 5cm;
}

/* ########## TABLES ########### */

form {
  padding: 1cm 5cm 0cm 5cm;
}

/* ########## TYPOGRAPHY ########### */

h1 {
  font-weight: 100;
  font-size: 44pt;
  padding: 1cm 5cm 0cm 5cm;
}

h2 {
  font-weight: bold;
  font-size: 33pt;
  padding: 1cm 5cm 0cm 5cm;
}
h3 {
  font-variant: small-caps;
  padding: 1cm 5cm 0cm 5cm;

}

/* ########## TABLES ########### */

table {
  font-family: "Montserrat", "Helvetica", "Lucida Sans", "Lucida Sans Unicode", "Luxi Sans", Tahoma, sans-serif;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
  border-collapse: collapse;
  border-spacing: 0;
}

div.table {
  margin-bottom: 1cm;
}

.request-table table {
  font-size: 10pt;
}

table {
  margin: auto;
}

table, td, th {
  padding: 7px;
  text-align: center;
  border: 1px solid rgb(8,48,107);
}

th {
  background-color: #5f08c2;
  color: white;
}

tr:nth-of-type(odd) {
  background: #f2f2f2;
}

td.table-inside {
  padding: 22px;
}

/* ########## PRETTYPRINT ########### */

pre.prettyprint {
	border: none !important;
  margin: 1cm 5cm 0cm 5cm;
  font-size: 10pt;
}

/* ########## FOR MD ########### */

.for-md {

}

/* ########## FORMS ########### */

label {
  display: block;
  text-align: center;
  margin-bottom: 0.2cm;
}

input {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5cm;
  display: block;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button {
  margin: auto;
  display: block;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  margin-bottom: 1cm;
  text-transform: uppercase;
}
.button {
    background-color: purple;
    color: white;
    border: 1px solid black;
}

.button:hover {
  background-color: #e7e7e7;
  color: black;
}
/* ########## TABLES ########### */
